.about-key-banner-bg{
    background-image: url('~/image/about/ordering-online.jpg');
    width: 100%;
    height: 100%;
}

.about-team-banner-bg{
    background-image: url('~/image/about/about-team-bg.jpg');
    width: 100%;
    height: 100%;
}

.text-shadow-black{
    text-shadow: 1px 1px 10px #000;
}

.founder-image{
    width: 200px;
}

.founder-image-border-000{
    border-radius: 50%;
    box-shadow: 1px 1px 5px #000;
}

.founder-image-border-fff{
    border-radius: 50%;
    box-shadow: 1px 1px 5px #fff;
}