
.homepage-key-banner-bg{
    background-image: url('~/image/homepage/order-online-filter.jpg');
}

.button-opacity-shadow {
    padding: 1rem;
    background-color: rgba(150, 250, 250, 0.1);
    text-decoration: none;
    cursor: pointer;
}

.wechat-store-banner{
    background-image: url('~/image/homepage/wechat-store.png');
    width: 100%;
    height: 100%;
}

.tmall-banner{
    background-image: url('~/image/homepage/tmall.jpg');
    width: 100%;
    height: 100%;
}

.cross-boarder{
    background-image: url('~/image/homepage/cross-boarder.jpg');
    width: 100%;
    height: 100%;
}