
.key-banner-bg{
    background-image: url('~/image/homepage/order-online-filter.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center center;
    background-size: 100%;
}
.height-viewport-50 {
    height: 50vh;
}

.height-100 {
    height: 100%;
}

.homepage-keyBanner-text {
    max-width: 50%;
}

.homepage-center-banner-bg {
    background-image: linear-gradient(45deg, #FF6400, #FFBE00);
}

.button-opacity-shadow {
    padding: 1rem;
    background-color: rgba(150, 250, 250, 0.1);
    text-decoration: none;
    cursor: pointer;
}

.wechat-store {
    background-image: url('~/image/homepage/wechat-store.png');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: 100%;
}
